body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://avatars.mds.yandex.net/i?id=cbf9b7de4d0d083d9e920efbb782c4aaf9c27fc4-5038807-images-thumbs&n=13');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

.header {
    text-align: center;
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.4);
}

.header h1 {
    font-size: 3em;
    margin: 0;
    color: #004170; /* Синий оттенок ПСЖ */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.header p {
    font-size: 1.5em;
    color: #ac003c; /* Красный оттенок ПСЖ */
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.videos h2 {
    color: #fff;
    margin-bottom: 20px;
}

.videos video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.model-3d {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.model-3d h2 {
    color: #fff;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
